@import './link.scss';
@import './appname.scss';
@import './header.scss';
@import './homepage.scss';
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #794c6c;
    margin: 0;
    padding: 0;
}